<template>
    <div>
        <v-app-bar class="bg-blue-grey-darken-4" >
            <template v-slot:prepend>
                <v-btn icon="mdi-sprout"></v-btn>
            </template>
            <v-app-bar-title>Аккаунт</v-app-bar-title>
            
        </v-app-bar>
        <br><br>
        <br>
        <v-container>
        <div >
        
        Добро пожаловать в Psycho.<br><br> В целях приватности, данное приложение не сохраняет никаких данных на сервер. <br><br>Для хранения истории (вашего дневника) используется локальная база данных вашего браузера (LocalStorage).
        <br><br>По этой причине, в данный момент возможности синхронизировать БД между разными устройствами нету.
        <v-card style="margin: 10px;" variant="outlined" color="purple">
      <v-card-item>
        <v-card-title>Управление данными</v-card-title>

        <v-card-subtitle>Данные настройки отвечают за данные, которые сохраняет данное приложение</v-card-subtitle>
      </v-card-item>

      <v-card-text>
        <v-btn variant="outlined" @click="showdump()">
            Посмотреть дамп
        </v-btn><br><br>
        <v-btn variant="outlined" @click="deletedb()">
            Удалить все записи
        </v-btn>
      </v-card-text>
    </v-card>

    <v-card style="margin: 10px;" variant="outlined" color="purple" >
      <v-card-item>
        <v-card-title>О нас</v-card-title>

        <v-card-subtitle>Немного информации об авторе и приложении</v-card-subtitle>
      </v-card-item>

      <v-card-text>
       Автор: dimonleonov
       <br>
       Версия приложения: 1.0 WEB
      </v-card-text>
    </v-card>

    <br> <br> <br>
        </div>

    </v-container>

        <v-bottom-navigation :elevation="0" class="bg-blue-grey-darken-4" >
  <v-btn value="recent" to="/">
    <v-icon>mdi-home</v-icon>

    Главная
  </v-btn>

  <v-btn value="favorites" to="/history">
    <v-icon>mdi-history</v-icon>

    История
  </v-btn>

  <v-btn value="nearby">
    <v-icon>mdi-account</v-icon>

    Аккаунт
  </v-btn>
</v-bottom-navigation>
</div>
    </template>

<script>

export default {
    name: 'AccountPage',
  
    data: () => ({
    }),
    methods: {
        showdump(){
            dump = localStorage.getItem("diary")
            alert(dump)
        },
        deletedb(){
            var a = confirm("Вы собираетесь удалить все записи с вашего дневника. После этого восстановить их будет невозможно. Подтверждаете?")
            if(a==true){
                localStorage.removeItem("diary")
                alert("Данные удалены.")
                location.reload()
            } 
        }
    }
  }
  </script>