<template>
    <div>
        <v-app-bar class="bg-blue-grey-darken-4" >
            <template v-slot:prepend>
                <v-btn icon="mdi-sprout"></v-btn>
            </template>
            <v-app-bar-title>История</v-app-bar-title>
            
        </v-app-bar>
        <br><br>
        <br>
        <v-container>
        <div >
        
        <v-alert primary v-if="this.diary.length == 0">
            Записей нет...
        </v-alert>
        <v-timeline v-if="this.diary.length != 0" density="compact"
      side="end">
    <v-timeline-item size="small" v-for="item in diary">
      <template v-slot:icon>
        <v-avatar></v-avatar>
      </template>
      <v-dialog
      v-model="item.dialog"
      width="auto"
    >
    <template v-slot:activator="{ props }">
    
    <v-card class="elevation-2" v-bind="props" @click="loaddata(item.date)" hover>
        <v-card-title >
            <span v-if=" item.date != (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)">{{ item.date }}</span>
            <span v-if=" item.date == (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)">Сегодня</span>
        </v-card-title>
        <v-card-text>
            <div v-if="item.description != ''">{{ item.description }}
            <br>    
            </div>
            <v-rating color="purple" v-model="item.rating" readonly></v-rating>
            
        </v-card-text>
      </v-card>
    </template>
    <!-- Диалог редактирования -->
    <v-card>
                            <v-card-title>
                                <span class="text-h5">Редактирование</span>
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-textarea v-model="description" color="purple" label="Как ваше самочувствие?"
                                            variant="outlined" required></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">

                                        <v-rating color="purple" v-model="rating" hover></v-rating>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-combobox v-model="activities" variant="outlined" label="Что вы делали за день?"
                                            color="purple" multiple>
                                            <template v-slot:selection="{ attrs, item, select, selected }">

                                            </template>
                                        </v-combobox>

                                        <div>
                                            <v-chip color="purple" v-for="act in activities" :key="act"
                                                style="margin: 3px;" closable variant="outlined"
                                                @click:close="removeactivities(act)">
                                                {{ act }}
                                            </v-chip>
                                        </div>
                                    </v-col>

                                    <v-col cols="12" sm="6" md="4">
                                        <v-combobox color="purple" v-model="feelgood" variant="outlined"
                                            label="Что помогло чувствовать себя лучше?" multiple>
                                            <template v-slot:selection="{ attrs, item, select, selected }">

                                            </template>
                                        </v-combobox>

                                        <div>
                                            <v-chip color="purple" v-for="gd in feelgood" :key="item" style="margin: 3px;"
                                                closable variant="outlined" @click:close="removefeelgood(gd)">
                                                {{ gd }}
                                            </v-chip>
                                        </div>
                                    </v-col>

                                    <v-col cols="12" sm="6" md="4">
                                        <v-combobox color="purple" v-model="feelbad" variant="outlined"
                                            label="Что вызвало негатив?" multiple>
                                            <template v-slot:selection="{ attrs, item, select, selected }">

                                            </template>
                                        </v-combobox>

                                        <div>
                                            <v-chip color="purple" v-for="bd in feelbad" :key="item" style="margin: 3px;"
                                                closable variant="outlined" @click:close="removefeelbad(item)">
                                                {{ bd }}
                                            </v-chip>
                                        </div>
                                    </v-col>

                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="purple-darken-1" rounded variant="tonal"
                                    @click="item.dialog = false">
                                    Отмена
                                </v-btn>
                                <v-btn color="purple" rounded variant="tonal" @click="item.dialog = false; savedata()">
                                    Сохранить
                                </v-btn>
                            </v-card-actions>
                        </v-card>

    </v-dialog>
    </v-timeline-item>
  </v-timeline>
        <br><br>
        </div>

    </v-container>

        <v-bottom-navigation :elevation="0" class="bg-blue-grey-darken-4" >
  <v-btn value="recent" to="/">
    <v-icon>mdi-home</v-icon>

    Главная
  </v-btn>

  <v-btn value="favorites">
    <v-icon>mdi-history</v-icon>

    История
  </v-btn>

  <v-btn value="nearby" to="/account">
    <v-icon>mdi-account</v-icon>

    Аккаунт
  </v-btn>
</v-bottom-navigation>
</div>
    </template>

<script>

export default {
    name: 'HistoryPage',
    
    data: () => ({
    "diary": [],
        "activities": [],
        "feelgood": [],
        "feelbad": [],
        "rating": 0,
        "description": "",
        "diary": [],
        "editordate": ""
    }),
    methods: { 

        loadNotes() {
            // Данный метод возвращает сегодняшнюю заметку к исходному состоянию.
            // Используется в диалоге "+ Внести запись", когда пользователь нажимает отмену. 
            console.log("today diary note loading...")
            this.diary = localStorage.getItem("diary")

            if (this.diary == null) {
                // Если пользователь еще не создавал записей в дневнике
                console.log("diary is empty")
                
                this.diary = []

            } else {
                // Если пользователь уже что-то создал
                console.log("diary = " + this.diary)
                this.diary = JSON.parse(this.diary)                    
                }
                
        

        },
        removeactivities(item) {
            // Данный метод удаляет chip со списка "что вы делали за день"
            this.activities.splice(this.activities.indexOf(item), 1)
        },
        removefeelgood(item) {
            // Данный метод удаляет chip со списка "что вам помогло чувствовать себя лучше"
            this.feelgood.splice(this.feelgood.indexOf(item), 1)
        },
        removefeelbad(item) {
            // Данный метод удаляет chip со списка "что вызвало у вас негатив"
            this.feelbad.splice(this.feelbad.indexOf(item), 1)
        },
        loaddata(date){
            console.log("loading data for item with date "+date)
            var item = this.diary.filter(e => e.date === date)[0]
            this.activities = item.activities
            this.feelgood = item.feelgood
            this.feelbad = item.feelbad
            this.rating = item.rating
            this.description = item.description 
            this.editordate = date
        },
        savedata(){
            console.log("saving data for item with date "+this.editordate)
            var item = this.diary.filter(e => e.date === this.editordate)[0]
            var itemid = this.diary.indexOf(item)
            
            let note = {
                date: this.editordate,
                activities: this.activities,
                feelgood: this.feelgood,
                feelbad: this.feelbad,
                rating: this.rating,
                description: this.description
            }

            this.diary[itemid] = note
            localStorage.setItem("diary", JSON.stringify(this.diary))
        }
    },
    beforeMount() {
        this.loadNotes()
    }

  }
  </script>