<template>
    <div>
        <v-layout>
            <v-app-bar class="bg-blue-grey-darken-4" :elevation="0">
                <template v-slot:prepend>
                    <v-btn icon="mdi-sprout"></v-btn>
                </template>
                <v-app-bar-title>Psycho</v-app-bar-title>

            </v-app-bar>
            <v-card class=" bg-blue-grey-darken-4" width="100%" height="200px">
                <v-card-text style="top: 140px; width: fit-content;margin-left: auto; margin-right: 0; position: relative;">
                    <v-dialog v-model="dialog" persistent fullscreen>
                        <template v-slot:activator="{ props }">

                            <v-fab-transition>
                                <v-btn color="purple" rounded dark absolute top left fab v-bind="props">
                                    <v-icon>mdi-plus</v-icon> Внести запись
                                </v-btn>
                            </v-fab-transition>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="text-h5">Редактирование</span>
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-textarea v-model="description" color="purple" label="Как ваше самочувствие?"
                                            variant="outlined" required></v-textarea>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">

                                        <v-rating color="purple" v-model="rating" hover></v-rating>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-combobox v-model="activities" variant="outlined" label="Что вы делали за день?"
                                            color="purple" multiple>
                                            <template v-slot:selection="{ attrs, item, select, selected }">

                                            </template>
                                        </v-combobox>

                                        <div>
                                            <v-chip color="purple" v-for="item in activities" :key="item"
                                                style="margin: 3px;" closable variant="outlined"
                                                @click:close="removeactivities(item)">
                                                {{ item }}
                                            </v-chip>
                                        </div>
                                    </v-col>

                                    <v-col cols="12" sm="6" md="4">
                                        <v-combobox color="purple" v-model="feelgood" variant="outlined"
                                            label="Что помогло чувствовать себя лучше?" multiple>
                                            <template v-slot:selection="{ attrs, item, select, selected }">

                                            </template>
                                        </v-combobox>

                                        <div>
                                            <v-chip color="purple" v-for="item in feelgood" :key="item" style="margin: 3px;"
                                                closable variant="outlined" @click:close="removefeelgood(item)">
                                                {{ item }}
                                            </v-chip>
                                        </div>
                                    </v-col>

                                    <v-col cols="12" sm="6" md="4">
                                        <v-combobox color="purple" v-model="feelbad" variant="outlined"
                                            label="Что вызвало негатив?" multiple>
                                            <template v-slot:selection="{ attrs, item, select, selected }">

                                            </template>
                                        </v-combobox>

                                        <div>
                                            <v-chip color="purple" v-for="item in feelbad" :key="item" style="margin: 3px;"
                                                closable variant="outlined" @click:close="removefeelbad(item)">
                                                {{ item }}
                                            </v-chip>
                                        </div>
                                    </v-col>

                                </v-row>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="purple-darken-1" rounded variant="tonal"
                                    @click="dialog = false; this.loadTodayNote()">
                                    Отмена
                                </v-btn>
                                <v-btn color="purple" rounded variant="tonal" @click="dialog = false; updateTodayNote()">
                                    Сохранить
                                </v-btn>
                            </v-card-actions>
                        </v-card>

                    </v-dialog>
                </v-card-text>
            </v-card>
        </v-layout>
        <br>
        <v-container>
            <div style="height: 100%;">

                Здравстуйте. Как вы себя чувствуете сегодня?
                <br><br>
                <v-card variant="outlined" color="purple">
                    <v-card-title>
                        Последняя запись
                    </v-card-title>
                    <v-card-text>
                        <div v-if="diary.length != 0">
                            <span
                                v-if="diary[0].date != (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)">{{
                                    item.date }}</span>
                            <span
                                v-if="diary[0].date == (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)">Сегодня</span>

                        </div>
                        <span v-if="diary.length == 0">Еще не было записей в дневник :(</span>

                    </v-card-text>
                </v-card>

                <br>
                <v-dialog v-model="analdialog" persistent fullscreen>
                    <template v-slot:activator="{ props }">

                        <v-card variant="outlined" color="purple" v-bind="props">
                            <v-card-title>
                                Анализ
                            </v-card-title>

                            <v-card-text>
                                <div>
                                    Позволяет посмотреть детальную информацию, анализируя ваши записи в дневнике за
                                    последние 7 дней
                                </div>
                            </v-card-text>
                        </v-card>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span class="text-h5">Анализ</span>
                        </v-card-title>
                        <v-card-text>
                            <!-- блок анализа -->
                            <h3>Чем вы занимались</h3>
                            <v-chip color="purple" v-for="item in anal_activities" :key="item" style="margin: 3px;"
                                variant="outlined">
                                {{ item }}
                            </v-chip>
                            <br><br>
                            <h3>Что помогло чувствовать себя лучше</h3>
                            <v-chip color="purple" v-for="item in anal_feelgood" :key="item" style="margin: 3px;"
                                variant="outlined">
                                {{ item }}
                            </v-chip>
                            <br><br>
                            <h3>Что вызвало у вас негатив</h3>
                            <v-chip color="purple" v-for="item in anal_feelbad" :key="item" style="margin: 3px;"
                                variant="outlined">
                                {{ item }}
                            </v-chip>
                            <br><br>
                            <h3>Средняя оценка состояния </h3>
                            <v-rating color="purple" v-model="anal_rating" readonly></v-rating>
                            <v-alert v-if="anal_rating == 5 || anal_rating == 4"> Судя по оценкам дней, последние 7 дней
                                прошли в целом неплохо</v-alert>
                            <v-alert v-if="anal_rating == 3"> Судя по оценкам дней, последние 7 дней прошли не очень хорошо.
                                Обратите на это внимание. </v-alert>
                            <v-alert v-if="anal_rating == 2 || anal_rating == 1"> Судя по оценкам дней, в среднем последние
                                7 дней прошли скорее негативно. Обратите на это внимание. Возможно есть смысл дать себе
                                отдохнуть, либо же заняться чем-то, что приносит вам удовольствие.</v-alert>

                            <!-- блок анализа -->
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="purple-darken-1" rounded variant="tonal" @click="analdialog = false">
                                Закрыть
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>

        </v-container>
        <v-bottom-navigation :elevation="0" class="bg-blue-grey-darken-4">
            <v-btn value="recent">
                <v-icon>mdi-home</v-icon>

                Главная
            </v-btn>

            <v-btn value="favorites" to="/history">
                <v-icon>mdi-history</v-icon>

                История
            </v-btn>

            <v-btn value="nearby" to="/account">
                <v-icon>mdi-account</v-icon>

                Аккаунт
            </v-btn>
        </v-bottom-navigation>
    </div>
</template>

<script>

export default {
    name: 'MainPage',

    data: () => ({
        "dialog": false,
        "activities": [],
        "feelgood": [],
        "feelbad": [],
        "rating": 0,
        "description": "",
        "diary": [],
        "analdialog": false,
        "anal_activities": [],
        "anal_feelgood": [],
        "anal_feelbad": [],
        "anal_rating": 0,
    }),
    methods: {
        removeactivities(item) {
            // Данный метод удаляет chip со списка "что вы делали за день"
            this.activities.splice(this.activities.indexOf(item), 1)
        },
        removefeelgood(item) {
            // Данный метод удаляет chip со списка "что вам помогло чувствовать себя лучше"
            this.feelgood.splice(this.feelgood.indexOf(item), 1)
        },
        removefeelbad(item) {
            // Данный метод удаляет chip со списка "что вызвало у вас негатив"
            this.feelbad.splice(this.feelbad.indexOf(item), 1)
        },
        updateTodayNote() {
            // Данный метод обновляет сегодняшнюю заметку к исходному состоянию.
            // Используется в диалоге "+ Внести запись", когда пользователь нажимает сохранение. 
            console.log("today diary note saving...")
            var todaydt = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)

            let note = {
                date: todaydt,
                activities: this.activities,
                feelgood: this.feelgood,
                feelbad: this.feelbad,
                rating: this.rating,
                description: this.description
            }

            if (this.diary.length == 0) {
                //если дневник пуст 
                console.log("Дневник пуст")
                console.log("в diary нет записи за сегодня")
                this.diary.unshift(note)

                localStorage.setItem("diary", JSON.stringify(this.diary))
            } else {
                // если не пуст
                if (this.diary.filter(e => e.date === todaydt).length > 0) {
                    console.log("в diary уже есть запись")
                    // Если в diary уже есть запись за сегодня - мы ее обновим
                    var today = this.diary.filter(e => e.date === todaydt)[0]
                    this.diary.splice(this.diary.indexOf(today), 1)
                    this.diary.unshift(note)

                    localStorage.setItem("diary", JSON.stringify(this.diary))
                } else {
                    console.log("в diary нет записи за сегодня")
                    this.diary.unshift(note)

                    localStorage.setItem("diary", JSON.stringify(this.diary))
                }
            }

        },
        getmedian(values) {
            if (values.length === 0) throw new Error("No inputs");

            values.sort(function (a, b) {
                return a - b;
            });

            var half = Math.floor(values.length / 2);

            if (values.length % 2)
                return values[half];

            return (values[half - 1] + values[half]) / 2.0;
        },

        loadTodayNote() {
            // Данный метод возвращает сегодняшнюю заметку к исходному состоянию.
            // Используется в диалоге "+ Внести запись", когда пользователь нажимает отмену. 
            console.log("today diary note loading...")
            this.diary = localStorage.getItem("diary")

            if (this.diary == null) {
                // Если пользователь еще не создавал записей в дневнике
                console.log("diary is empty")
                this.activities = []
                this.feelbad = []
                this.feelgood = []
                this.rating = 0
                this.description = ""
                this.diary = []

            } else {
                // Если пользователь уже что-то создал
                console.log("diary = " + this.diary)
                this.diary = JSON.parse(this.diary)
                var todaydt = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)
                if (this.diary.filter(e => e.date === todaydt).length > 0) {
                    console.log("в diary есть запись за сегодня")
                    var today = this.diary.filter(e => e.date === todaydt)[0]

                    // Если в diary уже есть запись за сегодня - мы ее обновим

                    this.activities = today.activities
                    this.feelbad = today.feelbad
                    this.feelgood = today.feelgood
                    this.rating = today.rating
                    this.description = today.description

                }

            }

            // Также загружает информацию в блок аналитики
            this.anal_activities = []
            this.anal_feelbad = []
            this.anal_feelgood = []
            var ratings = []




            this.diary.slice(0, 7).forEach(e => {

                this.anal_activities = this.anal_activities.concat(e.activities)
                this.anal_feelbad = this.anal_feelbad.concat(e.feelbad)
                this.anal_feelgood = this.anal_feelgood.concat(e.feelgood)
                ratings.push(e.rating)
            })
            console.log("RATINGS")
            console.log(ratings)
            this.anal_rating = this.getmedian(ratings)

            console.log(this.anal_rating)
        }
    },
    beforeMount() {
        this.loadTodayNote()
    },
}
</script>