<template>
  <v-app>
  <router-view />
</v-app>
</template>


<script>
import MainPage from './components/MainPage.vue'

export default {
  name: 'App',

  components: {
    MainPage,
  },

  data: () => ({
    //
  }),
}
</script>
